<% layout("/layouts/boilerplate") %>
<body>
    <h2>All Listings</h2>
    <% if (listings.length === 0) { %>
        <div style="margin-top: 10px; text-align: center;">No listings found for "<%= query %>". Try searching for something else.</div>
    <% } else { %>
        <div class="container">
            <% for(listing of listings){ %>
                <a href="/listings/<%= listing._id %>" class="card-link">
                    <div class="card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing Image">
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b>
                                <br>
                                &#8377 <%=listing.price.toLocaleString("en-IN")%>/night
                            </p>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
    <% } %>
</body>